.button {
  -fx-text-fill: blue;
  -fx-background-color: darkorange;
  -fx-border-color: orange;
  -fx-border-style: solid;

  -fx-font-family: "Courier New";
  -fx-font-size: 10;
  -fx-font-weight: bold;
}

.animate-buttons {
  -fx-padding: 50 0 0 0;
  -fx-spacing: 10;
}


.root {
  -fx-background-color: white;
}

.combo-box {
  -fx-background-color: darkorange;
}

.combo-box .cell {
  -fx-text-fill: blue;

  -fx-font-family: "Courier New";
  -fx-font-size: 10;
  -fx-font-weight: bold;
}

.variable-box {
  -fx-spacing: 10;
  -fx-padding: 10;
  -fx-border-color: black;
  -fx-alignment: top-left;

  -fx-font-family: "Arial";
  -fx-font-size: 18;
  -fx-font-weight: bold;
}

.command-box {
  -fx-font-family: "Arial";
  -fx-font-size: 18;
  -fx-font-weight: bold;

  -fx-spacing: 10;
  -fx-alignment: top-left;
}

.history-box {
  -fx-font-family: "Arial";
  -fx-font-size: 18;
  -fx-font-weight: bold;

  -fx-spacing: 10;
  -fx-alignment: top-left;
}

.input-box {
  -fx-border-color: black;
  -fx-spacing: 10;
  -fx-alignment: center;
}

.input-box .slider {
  -fx-alignment: left;
  -fx-pref-width: 300;
}

.input-box .text-field {
  -fx-alignment: center-left;
}

.main-screen-button {
  -fx-font-size: 11;
  -fx-translate-y: -5;
}

.main-dropdowns {
  -fx-padding: 60 0 0 0;
  -fx-spacing: 10;
}
