.button {
    -fx-text-fill: blue;
    -fx-background-color: darkorange;
    -fx-border-color: orange;
    -fx-border-style: solid;

    -fx-font-family: "Courier New";
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}

.logo {
}