.button {
    -fx-text-fill: blue;
    -fx-background-color: darkorange;
    -fx-border-color: orange;
    -fx-border-style: solid;

    -fx-font-family: "Courier New";
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

.combo-box {
    -fx-background-color: darkorange;
}

.combo-box .cell {
    -fx-text-fill: blue;

    -fx-font-family: "Courier New";
    -fx-font-size: 10;
    -fx-font-weight: bold;
}

.variable-box {
    -fx-spacing: 10;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-alignment: top-left;

    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.command-box {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-font-weight: bold;

    -fx-spacing: 10;
    -fx-alignment: top-left;
}

.history-box {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-font-weight: bold;

    -fx-spacing: 10;
    -fx-alignment: top-left;
}

.input-box {
    -fx-border-color: black;
    -fx-spacing: 10;
    -fx-alignment: center;
}

.input-box .slider {
    -fx-alignment: left;
    -fx-pref-width: 300;
}

.input-box .text-field {
    -fx-alignment: center-left;
}

.main-screen-button {
    -fx-font-size: 11;
    -fx-translate-y: -5;
}

/*#Submit {*/
/*    -fx-font-size: 20;*/
/*    -fx-translate-y: 20;*/
/*    -fx-translate-x: 20;*/
/*}*/

/*#variable {*/
/*    -fx-font-size: 10;*/
/*}*/

/*.logo {*/
/*}*/

/*#vbox {*/
/*    -fx-border-color: black;*/
/*    -fx-border-width: 1px;*/
/*    -fx-border-style: solid;*/
/*}*/